@import '../../stlyes/global.styles.scss';

.row-container {
    display: flex;
    gap: 20px;
    padding-top: 15px;

    .input-form {
        display: flex;
        gap: 10px;
        height: 25px;
        align-items: center;

        .index {
            border-radius: 50%;
            background-color: $grey;
            color: $grey-dark;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .remove-row-icon{
                cursor: pointer;
            }
        }

        .input {
            outline: none;
            transition: border 0.1s ease;
            border-radius: $border-radius;
            border: 2px solid $grey;
            height: 100%;
            padding: 3px 10px;
            font-weight: $weight-bold;

            &:focus {
                border: 2px solid $primary-color;
            }
        }
    }
}