@import '../../stlyes/global.styles.scss';

.result-container {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
        font-size: $font-size-icon-medium;

        &.icon-warning {
            color: $warning-color;
        }

        &.icon-error {
            color: $error-color;
        }
    }



    .country-image {
        width: 40px;
    }
}